@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    color: black;
    font-family: 'Quicksand', sans-serif;
    padding: 0 auto;
    margin: 0 auto;
    background: hsla(211, 66%, 87%, 1);
    background: linear-gradient(180deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(211, 66%, 87%, 1) 0%, hsla(348, 67%, 88%, 1) 50%, hsla(272, 26%, 72%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C9DEF4", endColorstr="#F5CCD4", GradientType=1 );
}

#main-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.main-grid {
    display: flex;
    flex-direction: row;
    width: 90%;
    border-top: 1px solid white;
}

.content-controller {
    width: 36%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 18px;
}

.controller-card-container {
    width: 100%;
    height: 110px;
    border: 1px solid white;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    background: linear-gradient(45deg, rgba(255,255,255, 0.2) 80%, rgba(255,255,255,0.04)  100%);
}

.controller-card-container:hover {
    padding: 12px;
    border: 1px solid #f4c8df;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.controller-card-container:hover .controller-card-heading h1 {
    font-size: 32px;
    color: #f4c8df;
}


.controller-card-subheading {
    font-size: 14px;
    color: black;
    text-align: left;
    text-transform: uppercase;
}

.controller-card-heading h1 {
    font-size: 24px;
    margin-block-start: 0.04em;
    margin-block-end: 0.04em;
}

.gallery-container {
    position: relative;
    width: 64%;
    margin-top: 20px;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(255,255,255, 0.7);
    max-height: 78vh;
}

.upload-grid {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-count {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gallery-img-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin-top: 24px;
}

#gallery-panel-left,
#gallery-panel-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 96px;
    width: 96px;
    cursor: pointer;
}

.icon:hover {
    height: 112px;
    width: 112px;
    cursor: pointer;
    transition: height 0.4s, width 0.4s;
}

#gallery-text-box {
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 16px;
}

.gallery-img {
    width: 90%;
    height: auto;
    border-radius: 4px;
    cursor: pointer;
}

#main-heading-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 14vh;
    width: 90%;
    padding-left: 16px;
}