@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    min-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    color: white;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(to bottom left, #017365, #024c42);
    padding: 0 auto;
    margin: 0 auto;
}

#main-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.main-grid {
    display: flex;
    flex-direction: row;
    min-height: 92vh;
    width: 90%;
    border-top: 1px solid white;
}

.content-controller {
    width: 22%;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    padding-top: 12px;
}

.gallery-container {
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    padding-top: 12px;
    overflow: hidden;
}

#gallery-img-container {
    padding-left: 4rem;
    padding-right: 4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gallery-panel-left,
#gallery-panel-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    flex-grow: 1;
}

.icon {
    height: 96px;
    width: 96px;
    cursor: pointer;
}

.icon:hover {
    height: 112px;
    width: 112px;
    cursor: pointer;
    transition: height 0.4s, width 0.4s;
}

#gallery-text-box {
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 16px;
}

.gallery-img {
    width: 90%;
    height: auto;
    border-radius: 4px;
}

#main-heading-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 14vh;
    width: 90%;
    padding-left: 16px;
}